.content-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  z-index: 5;

  overflow: hidden;

  margin: 2rem;
}

.card {
  background-color: $black;
  opacity: .8;
  color: $white;
  padding: 2rem;
}