@import "./../modules/variables";

.h1 {
  font-family: $family-serif;
  font-size: 3rem;
  font-style: italic;
  line-height: 1.1;
}

.is-smallcaps {
  display: inline-block;
  font-family: $font-primary;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: .25rem 0;
}